<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/svg+xml" href="/vite.svg" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Summary of Issues and Pull Requests</title>
  </head>
  <body>
    <div id="app">
      <h1>Summary of Issues and Pull Requests</h1>
      <ul>
        {% for issue in issues %}
          <li>
            {% if issue.is_pr %}
              PR {{ issue.number }}: {{ issue.title }}
              {% if issue.merged %}
                <span style="color: green;">(Merged)</span>
              {% else %}
                <span style="color: red;">(Not Merged)</span>
              {% endif %}
              <ul>
                {% for commit in issue.commits %}
                  <li>
                    <strong>Message:</strong> {{ commit.message | safe }}
                  </li>
                {% endfor %}
              </ul>
            {% else %}
              Issue {{ issue.number }}: {{ issue.title }}
              {% if issue.pull_requests %}
                <ul>
                  {% for pr in issue.pull_requests %}
                    <li>
                      PR {{ pr.number }}: {{ pr.title }}
                      {% if pr.merged %}
                        <span style="color: green;">(Merged)</span>
                      {% else %}
                        <span style="color: red;">(Not Merged)</span>
                      {% endif %}
                      <ul>
                        {% for commit in pr.commits %}
                          <li>
                            <strong>Message:</strong> {{ commit.message | safe }}
                          </li>
                        {% endfor %}
                      </ul>
                    </li>
                  {% endfor %}
                </ul>
              {% endif %}
            {% endif %}
          </li>
        {% endfor %}
      </ul>
    </div>
    <script type="module" src="/src/main.ts"></script>
  </body>
</html>
